<!-- /* Javier Suárez Guzmán
Agosto septiembre 2022 */ -->

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="card">
            <div class="card-body text-center height:42px">
                <h2>NUEVO INGRESO</h2>
                <form class="mt-3">
                    <input type="text" class="form-control mb-3" placeholder="Cédula, DNI, RUT, RUN">
                    <input type="text" class="form-control mb-3" placeholder="Nombres">
                    <input type="text" class="form-control mb-3" placeholder="Apellidos">
                    <input type="number" class="form-control mb-3" placeholder="Número de contacto">
                    <input type="number" class="form-control mb-3" placeholder="Contacto de emergencia">
                    <input type="datetime-local" value="" class="form-control mb-3">
                    <input type="datetime-local" class="form-control mb-3">
                    <div class="mt-4">
                        <button class="btn btn-success float-start">Crear</button>
                        <button class="btn btn-danger">Borrar</button>
                        <button class="btn btn-secondary float-end">Volver</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
