<!-- /* Javier Suárez Guzmán
Agosto septiembre 2022 */ -->

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body text-center"> 
            <h2>LISTADO DE INGRESOS</h2>
            <button class="btn btn-success float-end mb-3" routerLink="/ingresonuevo">Nuevo ingreso</button>
            
            <table class="table border">

                <thead>
                  <tr class="h5 table-success ">
                    <th scope="col"># Cédula</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Correo electrónico</th>
                    <th scope="col">Números de contacto</th>
                    <th scope="col">Ingreso</th>
                    <th scope="col">Salida</th>
                    <th scope="col"></th>
                  </tr>
                </thead>

                <tbody class="table-group-divider">
                  <tr>
                    <td>12.345.678-9</td>
                    <td>Nombre Nombre</td>
                    <td>Apellido Apellido</td>
                    <td>nombre.apellido.apellido@mail.com</td>
                    <td>+569 87654321 <br> +54 9 1234 56-7899</td>
                    <td>15:36 31-08-2022</td>
                    <td>15:36 04-09-2022</td>
                    <td>
                        <span class="i">✏️</span>
                        <span class="i">🗑️</span>
                    </td>
                  </tr>
                  <tr>
                    <td>20.120.304-K</td>
                    <td>Rupertina</td>
                    <td>De La Fuente Casas Cordero</td>
                    <td>rupefuente.casascordero@latinmail.com</td>
                    <td>+54 9 1234 56-7899 <br> +569 87654321</td>
                    <td>15:36 30-08-2022</td>
                    <td>15:36 03-09-2022</td>
                    <td>
                        <span class="i">✏️</span>
                        <span class="i">🗑️</span>
                    </td>
                  </tr>
                  <tr class="table-danger">
                    <td>25.504.702-7</td>
                    <td>Astolfo Manuel</td>
                    <td>DeVille Simpson</td>
                    <td>am_simpson@live.com</td>
                    <td>+569 87654321 <br> +54 9 1234 56-7899</td>
                    <td>15:36 28-08-2022</td>
                    <td>15:36 30-08-2022</td>
                    <td>
                        <span class="i">✏️</span>
                        <span class="i">🗑️</span>
                    </td>
                  </tr>
                  <tr class="table-warning">
                    <td>16.966.237-1</td>
                    <td>Efraín Heródoto</td>
                    <td>González Hoffermann</td>
                    <td>hoffermanneh@hoffermann.de</td>
                    <td>+569 43218765 <br> +54 9 7899 65-1234</td>
                    <td>15:36 30-08-2022</td>
                    <td>15:36 01-09-2022</td>
                    <td>
                        <span class="i">✏️</span>
                        <span class="i">🗑️</span>
                    </td>
                  </tr>
                  <tr>
                    <td>26.666.985-0</td>
                    <td>Wadha María</td>
                    <td>Al-Naimi</td>
                    <td>al-naimi.maria@arabia.com</td>
                    <td>+54 9 1234 56-7899 <br> +569 87654321</td>
                    <td>15:36 30-08-2022</td>
                    <td>15:36 03-09-2022</td>
                    <td>
                        <span class="i">✏️</span>
                        <span class="i">🗑️</span>
                    </td>
                  </tr>
                  <tr>
                    <td>21.466.597-2</td>
                    <td>Heriberto</td>
                    <td>Pérez Al-Naimi</td>
                    <td>al-naimi.heri@arabia.com</td>
                    <td>+54 9 1234 56-7899 <br> +569 87654321</td>
                    <td>15:36 30-08-2022</td>
                    <td>15:36 03-09-2022</td>
                    <td>
                        <span class="i">✏️</span>
                        <span class="i">🗑️</span>
                    </td>
                  </tr>
                </tbody>

              </table>
        </div>
      </div>
    </div>
  </div>
</div>
