/* Javier Suárez Guzmán
Agosto septiembre 2022 */
html {
    min-height: 100%;
}
body {
    background: #091133;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,17,51,1) 58%, rgba(135,206,250,1) 100%);
    color: #889399;
    font-family: 'Quicksand';
    padding-bottom: 42px;
}

h1 {
    font-weight: 900;
}

h2 {
    color: #091133;
    font-weight: 500;
}

