/* Javier Suárez Guzmán
Agosto septiembre 2022 */

body {
    background: #091133;
/*     
background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
*/
    color: #889399;
    font-family: 'Quicksand';
    padding-bottom: 42px;
}

h1 {
    font-weight: 900;
}

h2 {
    color: #091133;
    font-weight: 500;
}

